<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Facebook Layout</title>

  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <div class="content">
      <img src="images/facebook-logo.png" alt="Facebook logo">
      <span>Meu perfil</span>
    </div>
  </header>

  <section id="posts">
    <div class="content">

      <div class="post">
        <div class="body">
          <div class="info">
              <img src="images/avatar_post_1.png" alt="Post avatar image">
              <div class="name">
                <strong>Júlio Alcântara</strong>
                <span>04 Jun 2019</span>
              </div>
          </div>
          <p>Pessoal, alguém sabe se a Rocketseat está contratando?</p>
        </div>
        <div class="comments">
          <div class="comment">
            <img src="images/avatar_comments_1.png" alt="Avatar comment">
            <p><strong>Diego Fernandes</strong> Diego Fernandes A Rocketseat está sempre em busca de novos membros para o time, e geralmente ficamos de olho em quem se destaca no Bootcamp, inclusive 80% do nosso time de devs é composto por alunos do Bootcamp. Além disso, se você tem vontade de ensinar gravando vídeos e criando posts, pode me chamar no Discord! (Sério, me chamem mesmo, esse comentário é real)</p>
          </div>
        </div>
      </div>

      <div class="post">
          <div class="body">
            <div class="info">
                <img src="images/avatar_post_1.png" alt="Post avatar image">
                <div class="name">
                  <strong>Júlio Alcântara</strong>
                  <span>04 Jun 2019</span>
                </div>
            </div>
            <p>Pessoal, alguém sabe se a Rocketseat está contratando?</p>
          </div>
          <div class="comments">
            <div class="comment">
              <img src="images/avatar_comments_1.png" alt="Avatar comment">
              <p><strong>Cézar Toledo</strong> Que maaaaassa! Estou pensando em me inscrever na próxima turma pra ver qual é desse Bootcamp GoStack, dizem que os devs saem de lá com super poderes!</p>
            </div>
            <div class="comment">
                <img src="images/avatar_comments_2.png" alt="Avatar comment">
                <p><strong>Clara Lisboa</strong> Também estou fazendo o Bootcamp e estou adorando! Estou no terceiro módulo sobre Node e já tenho minha API dos desafios contruída!</p>
              </div>            
          </div>
        </div>

    </div>
  </section>

</body>
</html>